---
---

<html lang="el">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="0; url=./el/" />
    <title>Redirecting…</title>
  </head>
  <body>
    <p>
      Redirecting… Αν δεν γίνει redirect:
      <a href="./el/">Ελληνικά</a> | <a href="./en/">English</a>
    </p>
  </body>
</html>
